.youtube-wrapper {
  position: relative;
  width: 80%;
  padding-bottom: 45%;
  margin: 1.5rem auto;
  border-radius: 8px;
  overflow: hidden;
  border: 1px solid var(--border);
}

.youtube-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}